<section id="contact">
    <p class="section_text_p1">Get in touch</p>
    <h1 class="title">Contact Me</h1>
    <div class="contact-info-upper-container">

        <div class="contact-info-container">
            <img src="assets/img/email.png" alt="Email Icon" class="email-icon"/>
            <p><a href="mailto:joa.mayorga25&#64;gmail.com">joa.mayorga25&#64;gmail.com</a></p>
        </div>

         <div class="contact-info-container">
            <img src="assets/img/linkedin.png" alt="LinkedIn Icon" class="contact-icon"/>
            <p><a href="https://www.linkedin.com/in/joaquin-mayorga-9683412b9/">LinkedIn</a></p>
        </div>

    </div>
</section>
